{{#if listExists}}
<div class="container mb-4">
    <article class="panel is-info">
        <p class="panel-heading">
            Your movies 👀
        </p>
            {{#each files}}
            <a class="panel-block movie" data-movie-name="{{this}}">
                <span class="panel-icon">
                    <i class="fas fa-file" aria-hidden="true"></i>
                </span>
                {{this}}
            </a>
            {{/each}}
    </article>
</div>
{{else}}
<div class="container has-text-centered is-size-1-desktop notification">
    <h1 class="title">Your files?</h1>
    <h2 class="subtitle">Nothing here... 😪</h2>
</div>
{{/if}}

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form action="/move" method="POST">
            <header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" aria-label="close" onclick="closeModal();"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Current name</label>
                    <div class="control">
                        <input name="currentName" id="currentName" class="input" type="text" value="" readonly aria-readonly="true" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">New name</label>
                    <div class="control">
                        <input name="newName" id="newName" class="input" type="text" placeholder="Put the filename for the movie" />
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Move</button>
                <button type="button" class="button" onclick="closeModal();">Cancel</button>
            </footer>
        </form>
    </div>
</div>